
<form method="post" action="/admin/login">
<span class='error-message'></span>
   <input id="login-input" name="login" type="text" placeholder="login" >
   <input id="pass-input" name="password" type="password"  placeholder="password">
   <input type="submit"  value="ВОЙТИ">
</form>

<h1>{{loginMessage}}</h1>
